.navbar {
  border-bottom: #316bb0 3px solid;
}

.homesection {
  margin-top: 450px;
}

#header {
  background: url("../images/look4work.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#funfacts {
  display: flex;
  justify-content: center;
}
.allfacts {
  background: #f4f4f4;
}

.main-allfacts {
  margin: 100px;
  background: #316bb0;
}

.main {
  background-color: #f4f4f4;
}

#main {
  background-color: #316bb0;
}

.form-control {
  display: block;
  width: 100%;
}

.btn {
  display: inline-flex;
  margin-bottom: 15px;
}
.header {
  background: #316bb0;
}
.subtitle {
  color: #316bb0;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 75px;
}

.maintitle {
  color: black;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.box {
  display: flex;
  margin-left: 15px;
}

.form-control {
  display: inline-flex;
  width: 25vw;
}

.featured {
  background: #f2d29f;
}

.filter-container {
  display: flex;
}

.search {
  display: flex;
}

.search-container {
  width: 90vw;
}

.searchbar {
  margin-left: 30px;
}

.employmentsection {
  display: flex;
  justify-content: center;
}

.job-container {
  width: 70vw;
}
